* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1c22;
    color: #ececed;
    padding: 20px;
}

.board-title {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;
}

.board {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    align-items: flex-start;
}

.column {
    background-color: #262931;
    border-radius: 10px;
    min-width: 350px;
    padding: 15px;
    border: 2px solid black;
}

.column-title {
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 20px;
    color: 	#00FFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tasks-container {
    min-height: 100px;
}



.task-form {
    background-color: #32363f;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.edit-form {
    background-color: #32363f;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.task-input, .task-textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 12px;
    background-color: #1a1c22;
    border: 1px solid black;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Делает иконку календаря белой */
}

.task-input:focus, .task-textarea:focus {
    border-color: #00a8ff;
    outline: none;
}


.btn-add {
    width: 100%;
    padding: 10px;
    background-color: #00a8ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-add:hover {
    background-color: #0081c5;
}


.task-card {
    background-color: #32363f;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #454a55;
}

.task-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 8px;
}

.task-card p {
    font-size: 16px;
    color: #F0FFFF;
    margin-bottom: 10px;
    line-height: 1.5;
}

.task-card small {
    display: block;
    font-size: 14px;
    font-style: italic;
    color: #E0FFFF;
    margin-top: 5px;
}

.task-card strong {
    font-size: 16px;
    color: #00BFFF;
}

.card-actions {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-actions button {
    padding: 6px 12px;
    background-color: #454a55;
    color: #ececed;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.2s;
}

.card-actions button:hover {
    background-color: #5a5f6b;
}
